@use "include" as *; // 변수, 함수, 믹스인 등을 사용하기 위해 include 파일을 불러온다.

.krds-breadcrumb-wrap{
	margin-bottom: 0;
	padding-top: 0;

	.breadcrumb{
		.home .txt::before{
			content: none !important;
		}
		li a.txt{
			text-decoration: none;
			color: get(text, default);
		}
	}
}
