@use "include" as *; // 변수, 함수, 믹스인 등을 사용하기 위해 include 파일을 불러온다.

#krds-footer{
	.foot-quick .inner{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding-left: get(content-margin, default);
		padding-right: get(content-margin, default);

		@mixin tabletLess{
			display: flex;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) {
			grid-template-columns: repeat(3, 1fr);

			.link{
				padding: 0 get(content-margin, default);
			}
		}
		@media screen and (max-width: 767.9px){
			grid-template-columns: repeat(1, 1fr);
			padding: 0;
		}
	}
	> .inner{
		padding-left: get(content-margin, default);
		padding-right: get(content-margin, default);

		@media screen and (max-width: 1024px){
			padding-left: get(content-margin, default);
			padding-right: get(content-margin, default);
		}
	}
}
